<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/header.ejs') %>
    <h1 class="title">Welcome to the book club home page!</h1>
    <div class="centered-content">
        <p>Thank you for coming to the book club website. We will be meeting at 3:00 pm on wednesday to discuss our current book, "To Kill a Mockingbird". We will also discuss what our next book will be. Please submit books we should read to the <a href="/prove02/add-book">Suggest Books</a> tab on the website. If you want to familiarize yourself with books that other people have suggested, please visit the <a href="/prove02/view-books">See Suggested Books</a> section of the website. Thank you!</p>
    </div>
</body>

</html>