<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/header.ejs') %>
    <h1 class="title">Welcome to the shop home page!</h1>
    <%- include('includes/view-products.ejs') %> 
</body>

</html>