<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/prove10/front-end.js"></script>
</head>

<body onload="loadItems()">
    <p>Enter Names of Avengers</p>
    <button class="btn" type="button" onclick="resetList()">Reset List</button>
    <button class="btn" type="button" onclick="addItem(document.getElementById('newAvenger').value);clearTextField();loadItems()">Add Avenger</button>
    <input type="text" name="newAvenger" id="newAvenger">

    <!-- addItem(document.getElementById('newAvenger').value) -->
    <div class="list" id="list"></div>

</body>


</html>