<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>This is the page created for the week 1 prove assignment</p>
                <form action="/prove01" method="POST">
                    What is your name?
                    <input type="text" name="name" style="color:black"><br> How are you feeling?<br>
                    <input type="radio" name="mood" value="happy">
                    <label for="happy">Happy</label><br>
                    <input type="radio" name="mood" value="sad">
                    <label for="happy">Sad</label><br>
                    <button type="submit" style="color:black">Submit</button>
                </form>
            </div>
        </div>

</body>

</html>